services:
  backend:
    platform: linux/amd64
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file: .env
    environment:
      - UVICORN_PORT=${INTERNAL_API_PORT:-8000}
    working_dir: /app
    volumes:
      - ./backend:/app

  https-portal:
    image: steveltn/https-portal:1
    ports:
      - "${FRONT_HTTP_PORT_NO:-80}:80"
      - "${FRONT_HTTPS_PORT_NO:-443}:443"
    restart: always
    volumes:
      - https-portal-data:/var/lib/https-portal
    environment:
      DOMAINS: "${WEB_DOMAIN} -> http://backend:${INTERNAL_API_PORT:-8000} ${ADD_DOMAIN}"
      STAGE: "${HTTPS_PORTAL_STAGE}"
      CLIENT_MAX_BODY_SIZE: 20M
      FORCE_RENEW: "${HTTPS_PORTAL_FORCE_RENEW}"
    depends_on:
      - backend

volumes:
  https-portal-data:
